<!DOCTYPE html>
<html>
  <body>
    <h1>Account Approved</h1>
    <p>Dear <%= @user.first_name %>,</p>
    <p>Your account has been approved. You can now log in and start using the system.</p>
    <p>Thank you!</p>
  </body>
</html>
