

<h2>My Portfolio</h2>

  <p>You don't have any holdings yet.</p>

  <table class="table-auto">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Quantity</th>
        <th>Current Price</th>
        <th>Total Value</th> 
      </tr>
    </thead>
  </table>


<span class="total-portfolio">Total Portfolio Value: $<%= calculate_total_portfolio_value %></span>

