<div>
  <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl">Invest Your Money With Us and <span class=" text-blue-600">Get Amazing Profit </span></h1>
  
  <p class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-slate-700"> 
  Earn money by just sitting and trading. Trade with us!
  Practice your Stock Marketing Strategy Skills Now!
  </p>

  <div class="mt-10 flex justify-center gap-x-6">
  <%= link_to "Create an account today", new_user_registration_path, class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  <%= link_to "Sign in", new_user_session_path , class:"py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100" %>
  </div>
  
</div>

